*{
    margin: 0%;
    padding: 0%;
}

.black{
    background-color: black;
    width: 100%;
    height: 30px;
    float: left;
}


.icon{

    text-align: center;
    color: yellowgreen;
    display: contents;
}

.top{
    float: left;
    width: 100%;
    background: #000;
    height: 30px;
}
.navbar{
    float: left;
    width:100%;
    padding: 1px 0 ;
}
.btn_back{
    float: left;
    background: #000;
    color: #fff;
    border-radius: 5px;
    border: none;
    padding: 3px 15px;
    margin: 0 0 0 10px;

}
.back-button {
    float: left;
    background: #000;
    color: #fff;
    border-radius: 5px;
    border: none;
    padding: 5px 15px;
    margin: 0 0 0 10px;
}
.btn_back_div{    padding-top: 2rem;

}
.assistance-button{
    float: right;
    background: #000;
    color: #fff;
    border-radius: 5px;
    border: none;
    padding: 5px 15px;
}
.assistance-button p{
    padding-bottom: 3px;
}
.icon {
    margin: -2px 0;
    width: 24px;
}
/* .about {
    float: left;
    width: 100%;
  

} */
.box-1{
    float: left;
    width: 69%;
}
.box-1 th:nth-child(1) {
    padding: 0 0 0 24px;
}
.box-1 th:nth-child(2) {
    padding: 0 20px 0 14rem;
}
.box-1 th:nth-child(3) {
    padding: 0 20px 0 3rem;
}
.box-1 th:nth-child(4) {
    padding: 0 20px 0 3rem;
}
.box-1 th:nth-child(5) {
    padding: 0 20px 0 3rem;
}
.box-1 td:nth-child(3) {
    padding: 3px 27px 0 33px;
}
.box-1 td:nth-child(4) {
    padding: 0px 20px 0 4rem;
}
.box-1 td:nth-child(5) {
    padding: 0 4px 0 4.6rem;
}
.box-1 td:nth-child(6) {
    padding: 0 0px 0 5px;
}
.remove{
    color:#ff0827;
    border: none;
    padding: 0px 15px;
    background: #ffebea;
    border-radius: 5px;
}
.promotional {
    color: #205eae;
    font-size: 12px;
}
.delivery{
    color: #fff;
    background: white;
    font-size: 15px;
}
img {
    width: 20px;
    
}
.box-2 {
    /* margin-left: 10rem; */
    /* float: left; */
    align-items: center;
    width: 27%;
    background: #f7f7f7;
    padding: 0px 20px;
}
.box-2 h5{
    border:1px solid #000;
    border-width: 0 0 1px 0;
}
.box-2 ul {
    list-style: none;
    padding: 10px 0;
}
.box-2 li {
    list-style: none;
    padding: 30px 10%;
    border: 1px solid #000;
    border-width: 0 0 1px 0;
}
.errow{
    float: right;
}
.btn_ahead{
    text-align: center;
    padding-bottom: 7px;
    
    }
    .btn_ahead button {
        border: none;
        background-color: black;
        color: #f5f0f0;
        width: 11%;
        border-radius: 10px;
    }
    @media (max-width:320px){

        .box-2 {
            /* margin-left: 10rem; */
            /* float: left; */
            align-items: center;
            width: 100%;
            background: #f7f7f7;
            /* padding: 5px 20px; */
        }
        .btn_ahead button {
            border: none;
            /* padding-bottom: 4px; */
            background-color: black;
            color: #f5f0f0;
            width: 61%;
            border-radius: 10px;
        }
    }