*{
    margin: 0%;
    padding: 0%;
}

.black{
    background-color: black;
    width: 100%;
    height: 30px;
    float: left;
}


.icon{

    text-align: center;
    color: yellowgreen;
    display: contents;
}
.btn_back_div{
    padding-top: 2rem;

}
.inventory-box {
    width: 50%;
    margin: 0 auto;
}
.inventory-box h3{
    text-align: center;
}
.caslla {
    font-size: 14px;
    text-align: left;
    font-weight: 600;
    margin: 0;
}
.box {
    width: 100%;
    float: left;
    margin: 20px 0;
}
.radio {
    width: 7%;
    float: left;
    margin: 21px 0;
}
.radio input {
    width: 30px;
    height: 30px;
}

.were {
    float: left;
    width: 20%;
}
.uae {
    float: left;
    width: 60%;
    font-size: 14px;
    padding: 11px 19px;
    text-align: left;
}
.qty {
    float: left;
    width: 15%;
    font-size: 14px;
    padding: 9px 0;
}
.bold{
    font: 600;
    font-size: 18px;
}
.inventory-box button {
    background: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 2px 6%;
}
.errow {
    float: right;
    margin: 2px 0 0 20px;
}
.grandeur {
    font-size: 18px;
    text-align: left;
    font-weight: 600;
    padding-top: 30px;
    margin: 0;
}
.next{
    width: 50%;
    margin: 0 auto;
}
.next button {
    background: #000;
    color: #fff;
    border: none;
    padding: 10px 40%;
    border-radius: 20px;
    margin: 13% 6%;
}.inventory-box {
    width: 50%;
    margin: 0 auto;
}
.inventory-box h1{
    text-align: center;
}

.box {
    width: 100%;
    float: left;
    margin: 20px 0;
}
.radio {
    width: 7%;
    float: left;
    margin: 21px 0;
}
.radio input {
    width: 30px;
    height: 30px;
}

.were {
    float: left;
    width: 20%;
}
.uae {
    float: left;
    width: 60%;
    font-size: 14px;
    padding: 11px 19px;
    text-align: left;
}
.qty {
    float: left;
    width: 15%;
    font-size: 14px;
    padding: 9px 0;
}
.bold{
    font: 600;
    font-size: 18px;
}
.inventory-box button {
    background: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 2px 6%;
}
.errow {
    float: right;
    margin: 2px 0 0 20px;
}
.grandeur {
    font-size: 18px;
    text-align: left;
    font-weight: 600;
    padding-top: 30px;
    margin: 0;
}
.next{
    width: 50%;
    margin: 0 auto;
}
.next button {
    background: #000;
    color: #fff;
    border: none;
    padding: 10px 40%;
    border-radius: 20px;
    margin: 13% 6%;
}.inventory-box {
    width: 50%;
    margin: 0 auto;
}
.inventory-box h1{
    text-align: center;
}

.box {
    width: 100%;
    float: left;
    margin: 9px 0;
}
.radio {
    width: 7%;
    float: left;
    margin: 11px 0;
}
.radio input {
    width: 30px;
    height: 30px;
}
.warehouse h4 {
    font-size: 17px;
    padding: 15px 1px;
}
.warehouse {
    float: left;
    height: 47px;
    width: 90%;
    display: flex;
    background: #f7f7f7;
    border-radius: 10px;
    box-shadow: 2px 2px 9px  2px #e8e8e8;
}
.were {
    float: left;
    width: 20%;
}
.uae {
    float: left;
    width: 60%;
    font-size: 14px;
    padding: 11px 19px;
    text-align: left;
}
.qty {
    float: left;
    width: 15%;
    font-size: 14px;
    padding: 9px 0;
}
.bold{
    font: 600;
    font-size: 18px;
}
.inventory-box button {
    background: #000;
    color: #fff;
    border: none;
    padding: 1px 8px;
    border-radius: 10px;
    margin: 0px 6%;
}
.errow {
    float: right;
    margin: 2px 0 0 20px;
}
.grandeur {
    font-size: 18px;
    text-align: left;
    font-weight: 600;
    padding-top: 30px;
    margin: 0;
}

.next{
    width: 50%;
    margin: 0 auto;
}
.next button {
    background: #000;
    color: #fff;
    border: none;
    padding: 3px 40%;
    border-radius: 20px;
    margin: 6% 6%;
}
@media screen and (max-width: 320px) {
    .inventory-box h3 {
        text-align: center;
        font-size: 17px;
    }
    .btn_back {
        float: left;
        background: #000;
        color: #fff;
        border-radius: 5px;
        border: none;
        padding: 0px 4px;
        margin: 0 -60px 0 8px;
    }
    .inventory-box {
        /* height: 16%; */
        width: 175%;
        margin: 0 auto;
    }
    .box {
        /* width: 4%; */
        flex-direction: column;
        float: left;
        margin: 1px 0;
        display: flex;
    }
    .warehouse {
        /* float: left; */
        text-align: center;
        /* justify-content: center; */
        flex-direction: column;
        display: flex;
        width: 55%;
        display: flex;
        background: #f7f7f7;
        border-radius: 10px;
        box-shadow: 2px 2px 9px  2px #e8e8e8;
    }
    .uae {
        /* float: left; */
        width: 92%;
        font-size: 12px;
        padding: 0px 0px;
        text-align: center;
    }
    .warehouse h4 {
        font-size: 17px;
        padding: 16px 72px;
    }
    .qty {
        float: left;
        width: 87%;
        font-size: 14px;
        padding: 0px 0;
    }
    .radio input {
        width: 14rem;
        height: 21px;
    }
    .grandeur {
        font-size: 16px;
        /* text-align: center; */
        font-weight: 600;
        padding-top: 32px;
        margin: 0;
        margin-left: 35px;
    }
    .inventory-box button {
        background: #000;
        color: #fff;
        border: none;
        padding: 9px 20px;
        border-radius: 10px;
        margin: 2px 5%;
    }

}
/* ..............Modal CSS..................... */
.inventorynext{
    width: 400px;
    background: #364055;
    position:absolute;
    z-index: 2;
    right: 0;
    top: 0;
}
.heading {
    padding-left: 2px;
    color: #fff;
}
.head{
    float: left;
    width: 70%;
}
.head-a{
    float: left;
    width: 20%;
}
.check {
    float: left;
    width: 10%;
    margin: 12px 5px;
}
.buddy{
    float: left;
    width: 60%;
}
.qty{
    float: left;
    width: 20%;
}
.confirm {
    width: 28%;
    margin: 0 auto;
    padding-bottom: 36px;
}
.confirm button {
    border: 1px solid #fff;
    border-radius: 20px;
    color: white;
    padding: 1px 16px 0px 14px;
    background: none;
}