* {
  margin: 0%;
  padding: 0%;
}

.black {
  background-color: black;
  width: 100%;
  height: 30px;
}

.btn-1 {
  margin-top: 9px;
  margin-left: 40px;
  padding: 5px;
  width: 98px;
  background-color: black;
  color: white;
  border-radius: 12px;
  font-size: 19px;
}
.form_1 {
  margin-left: 21%;
}
.main-div-1 {
  display: flex;
  margin-left: 81px;
}
.div-22 {
  padding-left: 9rem;
}

.Address-h1 {
  margin-left: 45%;
  font-weight: 400;
  font-size: 23px;
}
.personal-1 {
  display: flex;
  margin-left: 31%;
  margin-top: 16px;
}
.per-h1 {
  font-size: 17px;
  font-weight: 400;
}
.per-h2 {
  font-size: 17px;
  font-weight: 400;
  margin-left: 7%;
}
.per-h3 {
  font-size: 17px;
  font-weight: 400;
  margin-left: 7%;
}
.main-div-2 {
  display: flex;
  margin-top: 20px;
  margin-left: 81px;
}
.input-11 {
  width: 108%;
  padding: 5px 10px;
  border-radius: 10px;
}
#select-1 {
  width: 191%;
  padding: 0px 14px;
  border-radius: 8px;
}
#select-2 {
  width: 186%;
  border-radius: 10px;
  padding: 0px 10px;
}
.div-22 #select-3 {
  padding-left: 0.6rem;
}
.div-222 {
  padding-left: 5rem;
}

#select-3 {
  width: 100%;
  padding: 0px 29px;
  border-radius: 10px;
}

#select-4 {
  width: 186%;
  padding: 0px 10px;
  border-radius: 10px;
}

#select-5 {
  border-radius: 10px;
  width: 258%;
  padding: 1px 10px;
}

#select-6 {
  width: 100%;
  border-radius: 10px;
  margin-left: 121px;
  padding: 0px 10px;
}

#select-7 {
  width: 243%;
  border-radius: 10px;
  padding: 0px 10px;
}

#select-8 {
  margin-left: 115px;
  width: 72%;
  padding: 0px 10px;
  border-radius: 10px;
}
.state-1 {
  margin-left: 125px;
}
.nearest-1 {
  margin-left: 81px;
  width: 78%;
  padding: 5px 6px;
  border-radius: 10px;
}

.label-near {
  padding-left: 79px;
}
.country-1 {
  margin-left: 7.4rem;
}

button.last-btn {
  background-color: black;
  color: white;
  padding: 5px;
  margin-top: 4rem;
  width: 25%;

  border-radius: 19px;
  margin-left: 32%;
}

.foot-1 {
  width: 100%;
  background-color: black;
  height: 50px;
  margin-top: 10px;
}

@media (max-width: 320px) {
  .black {
    background-color: black;
    width: 100%;
    height: 30px;
  }
  .personal-1 {
    display: flex;
    margin-left: 6%;
    margin-top: 16px;
  }
  .main-div-1 {
    display: flex;
    margin-left: -63px;
  }
  .main-div-2 {
    display: flex;
    margin-top: 20px;
    margin-left: -54px;
  }
  #select-1 {
    width: 104%;
    padding: 0px 14px;
    border-radius: 8px;
  }
  .div-222 {
    padding-left: 1px;
    margin-left: -6rem;
    padding-top: 23px;
  }
  .label-near {
    padding-left: 0px;
    padding-top: 16px;
    margin-left: -6rem;
  }
  .nearest-1 {
    margin-left: -102px;
    width: 275%;
    padding: 5px 4px;
    border-radius: 10px;
  }
  .state-1 {
    margin-left: -75px;
    padding-top: 19px;
  }
  #select-6 {
    width: 192%;
    border-radius: 10px;
    margin-left: -43px;
    padding: 3px 18px;
  }
  .country-1 {
    margin-left: -1.6rem;
    padding-top: 3px;
  }
  #select-8 {
    margin-left: -31px;
    width: 138%;
    padding: 0px 6px;
    border-radius: 10px;
  }
  #select-4 {
    width: 80%;
    padding: 0px 10px;
    border-radius: 10px;
  }
  button.last-btn {
    background-color: black;
    color: white;
    padding: 5px;
    margin-top: 3rem;
    width: 84%;
    border-radius: 19px;
    margin-left: -19%;
  }
  #select-2 {
    width: 92%;
    border-radius: 10px;
    padding: 0px 10px;
  }
  #select-5 {
    border-radius: 10px;
    width: 118%;
    padding: 0px 10px;
  }
}
@media (max-width: 375px) {
  .personal-1 {
    display: flex;
    margin-left: 9%;
    margin-top: 16px;
  }
  .main-div-1 {
    /* display: flex; */
    margin-left: 0px;
  }
  .input-11 {
    width: 101%;
    padding: 5px 0px;
    border-radius: 10px;
  }
  .form_1 {
    margin-left: 0%;
  }
  .div-22 {
    padding-left: 0rem;
  }
}
