.footer {
    height: 50px;
    width: 100%;
    background: black;
    color: black;
    float: left;
}
@media (max-width: 320px) {
    .footer {
        height: 50px;
        width: 100%;
        background: black;
        color: black;
        float: left;
    }
    
}