* {
  margin: 0%;
  padding: 0%;
}

/* .black {
  background-color: black;
  width: 100%;
  height: 30px;
} */
.form1 {
  text-align: center;
}
.btn-1 {
  margin-top: 9px;
  margin-left: 40px;
  padding: 5px;
  width: 98px;
  background-color: black;
  color: white;
  border-radius: 12px;
  font-size: 19px;
  font-family: Arial, Helvetica, sans-serif;
}
.Address-h1 {
  margin-left: 43%;
  font-weight: 400;
  font-size: 22px;
}

.personal-details {
  cursor: pointer;
  margin-left: 32%;
  margin-top: 17px;
}

.th-1 {
  font-weight: 400;
}
.th-2 {
  padding-left: 40px;
  font-weight: 400;
}
.th-3 {
  padding-left: 40px;
  font-weight: 400;
}

.form_1 {
  display: flex;
  flex-direction: column;
}
.input_1 {
  width: 42%;
  padding: 5px 10px;
  border-radius: 10px;
  margin: 0px 28%;
}

.hidden {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}
.checkboxes label {
  display: block;
  float: left;
}
/* input[type="radio"] + span {
  display: block;
  border: 1px solid black;
  border-radius: 10px;
  border-left: 0;
  padding: 5px 10px;
} */

label:first-child input[type="radio"] + span {
  border-left: 1px solid black;
}
input[type="radio"]:checked + span {
  background: silver;
}

.checkboxes {
  margin: -21px 28% 0px 0px;
}

.id-label {
  text-align: center;
  font-weight: 200;
  padding-right: 23rem;
}
.name-label {
  padding-right: 23rem;
  margin-top: 20px;
  font-weight: 200;
}
.gender-div {
  padding-left: 28%;
}
.gender-label {
  padding: 20px 0%;
  font-weight: 200;
  padding-right: 46rem;
}
.language-label {
  padding-right: 6rem;
  /* margin-left: 2px; */
  font-weight: 200;
}
.vip_div {
  margin-left: -6rem;
}
.checkboxes label {
  border: 1px solid black;
  border-radius: 1px;
  padding: 0px;
}
.select-1 {
  width: 34%;
  border-radius: 10px;
  margin-left: 35px;
}

/* .input-1{
    width: 25%;
    border-radius: 10px;
    margin-left: 28%;
    padding: 5px 10px;
} */

.input-2 {
  width: 42%;
  padding: 5px 10px;
  border-radius: 10px;
  margin: 0px 28%;
}
.language-1 {
  margin: -44px 23% 0px 0px;
}
/* .customer-div{
    display: flex;
   
} */
.nationality-1 {
  margin-top: 20px;
  text-align: start;
  padding-right: 79%;
  font-weight: 200;
}
.vip-customer {
  margin-top: 20px;
  font-weight: 200;
}
.select-2 {
  width: 254%;
  border-radius: 10px;
  padding: 2px 1rem;
}
.nation {
  padding-left: 19rem;
}
.vip {
  margin-right: 0rem;
}
.customer-div {
  display: flex;
}
.nation_div {
  padding-right: 20rem;
}
.select-3 {
  width: 188%;
  padding: 1px 2rem;
  border-radius: 10px;
}
.btn-2 {
  background-color: black;
  border-radius: 20px;
  border: 1px solid #c9c2c2;
  display: inline-block;
  color: white;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  margin: 49px 29rem;
  width: 24%;
  padding: 4px 0rem;
}

.foot-1 {
  width: 100%;
  background-color: black;
  height: 50px;
  margin-top: 13%;
}

@media (max-width:320px){
  .personal-details {
    cursor: pointer;
    margin-left: 4%;
    margin-top: 17px;
}
.id-label {
  text-align: center;
  font-weight: 200;
  margin-right: 10rem;
  padding-right: 0rem;
}
.name-label {
  margin-right: 11rem;
  padding-right: 0rem;
  margin-top: 20px;
  font-weight: 200;
}
.gender-div {
  padding-left: 8%;
}
.language-label {
  padding-right: 8rem;
 
}
.select-1 {
  width: 99%;
  border-radius: 10px;
  margin-left: 0px;
}
.input-2 {
  width: 88%;
  padding: 4px 5px;
  border-radius: 10px;
  margin: 0px -1%;
}
.input_1 {
  width: 89%;
  padding: 5px 3px;
  border-radius: 10px;
  margin: 0px 1%;
}
.nation {

  padding-left: 5px;
 
}
.nationality-1 {
  margin-top: 43px;
  text-align: start;
  padding-right: 79%;
  font-weight: 200;
}
.select-2 {
  width: 276%;
  border-radius: 10px;
  padding: 2px 2rem;
}
.vip-customer {
  margin-top: 112px;
  font-weight: 200;
}
.vip_div {
  margin-left: -28rem;
}
.select-2 {
  width: 172%;
  border-radius: 10px;
  padding: 2px 36px;
}
.vip {
  margin-right: 33px;
}
.btn-2 {
  background-color: black;
  border-radius: 20px;
  border: 1px solid #c9c2c2;
  display: inline-block;
  color: white;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  margin: 49px 0rem;
  width: 63%;
  padding: 4px 0rem;
}
.Address-h1 {
  margin-left: 17%;
  font-weight: 400;
  font-size: 22px;
}
}


